// First override some or all individual color variables
$primary: #CBDF90;
$secondary: #7F9C96;
$success: #1B4079;
$info: #13101c;
$warning: #8FAD88;
$danger: #d62518;
$light: #f8f9fa;
$dark: #4D7C8A;
$blogbg: #b9d6e02d;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	success: $success,
	info: $info,
	warning: $warning,
	danger: $danger,
	light: $light,
	dark: $dark,
	blogbg: $blogbg 
	// add any additional color below
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
